* {
    font-family:  Roboto, sans-serif
}

body {
    background-color: #424242;
}

@media screen and (max-width: 600px) {
    .text-display {
        height: 20em !important;
    }
}

.heading {
    margin: 0;
    cursor: pointer;
    text-align: center;
    font-size: 3.125em;
    text-decoration: overline underline;
    color: #ffffff;
}

.heading-div {
    margin-top: 0.75em;
    margin-bottom: 0.5em;
}

.sameline {
    display: inline-block;
}

.general-box {
    margin: auto;
    text-align: center;
    height: 85vh;
    background-color: #1b1b1b;
    border: 0.063em solid black;
    padding-bottom: 1em;
    padding-top: 1em;
}

.input-text-div {
    margin-top: 1em;
    border-style: 0.063em solid black;
}

#textbox-text {
    width: 80%;
}

#textbox-name {
    margin-left: 0;
}

.text-display {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #6d6d6d;
    border: 0.063em solid black;
    height: 77vh;
    width: auto;
    overflow-y: auto;
}

.right-align {
    text-align: right;
    float: right;
    height: auto;
    margin-right: 1em;
    width: 70%;
}

.bubble-right {
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding-top: 0.125em;
    padding-bottom: 0.125em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    width: auto;
    height: auto;
    text-align: left;
    line-height: 2em;
    background-color: white;
    border: 0.2em solid #666;
    -webkit-border-radius: 1.875em;
    -moz-border-radius: 1.875em;
    border-radius: 1em;
    -webkit-box-shadow: 0.125em 0.125em 0.25em #888;
    -moz-box-shadow: 0.125em 0.125em 0.25em #888;
    box-shadow: 0.125em 0.125em 0.25em #888;
    max-width: 70%;
    word-wrap: break-word;
}

.left-align {
    text-align: left;
    float: left;
    height: auto;
    margin-right: 1em;
    width: 70%;
}

.bubble-left {
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding-top: 0.125em;
    padding-bottom: 0.125em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    width: auto;
    height: auto;
    text-align: left;
    line-height: 2em;
    background-color: black;
    color: white;
    border: 0.2em solid #666;
    -webkit-border-radius: 1.875em;
    -moz-border-radius: 1.875em;
    border-radius: 1em;
    -webkit-box-shadow: 0.125em 0.125em 0.25em #888;
    -moz-box-shadow: 0.125em 0.125em 0.25em #888;
    box-shadow: 0.125em 0.125em 0.25em #888;
    max-width: 70%;
    word-wrap: break-word;
    margin-left: 1em;
}

.username-text {
    font-size: 1.125em;
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
}

#username {
    color: #ffffff;
}

.overlay {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 9999;
    color: white;
    height: auto !important;
}

.enter-username {
    display: inline-block;
}

.menu {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto !important;
    border: 0.063em solid black;
    background-color: #dddddd;
    color: black;
    min-width: 20em;
    max-width: 25em;
}

.exit {
    margin-top: 1.5em;
    margin-bottom: 2em;
}

#roomCreatePrivate {
    margin-top: 0.5em;
    font-size: 2em;
}

.joinList {
    margin-top: 0.25em;
}

#core {
    opacity: 0.4;
    filter: grayscale(100%);
    position: fixed;
    height: 1em;
    bottom: 0;
    right: 0;
}

.background {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto !important;
    border: 0.063em solid black;
    background-color: #dddddd;
    color: black;
    min-width: 20em;
    max-width: 25em;
}

.roomListDisplay {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: white;
    border: 0.063em solid black;
    height: 20em;
    width: auto;
    overflow-y: scroll;
}

.closeList {
    margin-top: 1em;
    margin-bottom: 1em;
}

.listedRoom {
    width: calc(100% - 2px);
    border: 1px solid black;
    word-wrap: break-word;
}

.subtitle {
    margin-top: 0.1em;
    margin-bottom: 0.25em;
}

.listTitle {
    margin-bottom: 0em;
}

.joinButton {
    margin-bottom: 0.5em;
}

#name {
    margin-bottom: 0.5em;
}
